<div class="wrapper">
  <div class="last-articles">
    <ul>
      <li>Angular 4'e Giriş</li>
      <li>Service Workers - Practical Guided Introduction (several examples)</li>
      <li>JWT: The Complete Guide to JSON Web Tokens</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus?</li>
    </ul>
  </div>
  <div class="articles">

    <!-- BEGIN article card -->
    <div class="article-card">
      <div class="header">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, facilis! Lorem ipsum dolor sit amet.</div>
      <div class="date">16.12.17 - 16:45</div>
      <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum labore ratione veritatis voluptate unde, facilis
        accusamus dolorem pariatur autem nesciunt perspiciatis corporis illum asperiores quisquam repellendus impedit vero
        quasi eum qui amet ex laboriosam quod saepe. Temporibus est sint laboriosam sunt porro illo vero facere provident
        nostrum similique ducimus quis quidem quam fuga, ab assumenda at hic culpa nesciunt neque repellat fugiat. Unde sed
        fuga officiis provident dicta. Quidem error maxime quas. Nihil numquam enim ratione cum itaque alias ipsam libero
        earum illo quo, fugit error consequatur nesciunt officiis totam beatae molestias quibusdam porro architecto. Sunt
        ducimus voluptatem inventore quibusdam, pariatur facilis laborum consequatur earum architecto, ex odit est corrupti
        amet enim recusandae quod minus, eos fuga iste reiciendis.</div>
      <div class="card-footer">
        <i class="fa fa-hashtag"></i> angular, front-end, web-app, programming
        <span>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!-- END article card -->

    <!-- BEGIN article card -->
    <div class="article-card">
      <div class="header">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, facilis! Lorem ipsum dolor sit amet.</div>
      <div class="date">16.12.17 - 16:45</div>
      <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum labore ratione veritatis voluptate unde, facilis
        accusamus dolorem pariatur autem nesciunt perspiciatis corporis illum asperiores quisquam repellendus impedit vero
        quasi eum qui amet ex laboriosam quod saepe. Temporibus est sint laboriosam sunt porro illo vero facere provident
        nostrum similique ducimus quis quidem quam fuga, ab assumenda at hic culpa nesciunt neque repellat fugiat. Unde sed
        fuga officiis provident dicta. Quidem error maxime quas. Nihil numquam enim ratione cum itaque alias ipsam libero
        earum illo quo, fugit error consequatur nesciunt officiis totam beatae molestias quibusdam porro architecto. Sunt
        ducimus voluptatem inventore quibusdam, pariatur facilis laborum consequatur earum architecto, ex odit est corrupti
        amet enim recusandae quod minus, eos fuga iste reiciendis.</div>
      <div class="card-footer">
        <i class="fa fa-hashtag"></i> angular, front-end, web-app, programming
        <span>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!-- END article card -->

    <!-- BEGIN article card -->
    <div class="article-card">
      <div class="header">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, facilis! Lorem ipsum dolor sit amet.</div>
      <div class="date">16.12.17 - 16:45</div>
      <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum labore ratione veritatis voluptate unde, facilis
        accusamus dolorem pariatur autem nesciunt perspiciatis corporis illum asperiores quisquam repellendus impedit vero
        quasi eum qui amet ex laboriosam quod saepe. Temporibus est sint laboriosam sunt porro illo vero facere provident
        nostrum similique ducimus quis quidem quam fuga, ab assumenda at hic culpa nesciunt neque repellat fugiat. Unde sed
        fuga officiis provident dicta. Quidem error maxime quas. Nihil numquam enim ratione cum itaque alias ipsam libero
        earum illo quo, fugit error consequatur nesciunt officiis totam beatae molestias quibusdam porro architecto. Sunt
        ducimus voluptatem inventore quibusdam, pariatur facilis laborum consequatur earum architecto, ex odit est corrupti
        amet enim recusandae quod minus, eos fuga iste reiciendis.</div>
      <div class="card-footer">
        <i class="fa fa-hashtag"></i> angular, front-end, web-app, programming
        <span>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!-- END article card -->

    <!-- BEGIN article card -->
    <div class="article-card">
      <div class="header">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, facilis! Lorem ipsum dolor sit amet.</div>
      <div class="date">16.12.17 - 16:45</div>
      <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum labore ratione veritatis voluptate unde, facilis
        accusamus dolorem pariatur autem nesciunt perspiciatis corporis illum asperiores quisquam repellendus impedit vero
        quasi eum qui amet ex laboriosam quod saepe. Temporibus est sint laboriosam sunt porro illo vero facere provident
        nostrum similique ducimus quis quidem quam fuga, ab assumenda at hic culpa nesciunt neque repellat fugiat. Unde sed
        fuga officiis provident dicta. Quidem error maxime quas. Nihil numquam enim ratione cum itaque alias ipsam libero
        earum illo quo, fugit error consequatur nesciunt officiis totam beatae molestias quibusdam porro architecto. Sunt
        ducimus voluptatem inventore quibusdam, pariatur facilis laborum consequatur earum architecto, ex odit est corrupti
        amet enim recusandae quod minus, eos fuga iste reiciendis.</div>
      <div class="card-footer">
        <i class="fa fa-hashtag"></i> angular, front-end, web-app, programming
        <span>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!-- END article card -->

    <!-- BEGIN article card -->
    <div class="article-card">
      <div class="header">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, facilis! Lorem ipsum dolor sit amet.</div>
      <div class="date">16.12.17 - 16:45</div>
      <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum labore ratione veritatis voluptate unde, facilis
        accusamus dolorem pariatur autem nesciunt perspiciatis corporis illum asperiores quisquam repellendus impedit vero
        quasi eum qui amet ex laboriosam quod saepe. Temporibus est sint laboriosam sunt porro illo vero facere provident
        nostrum similique ducimus quis quidem quam fuga, ab assumenda at hic culpa nesciunt neque repellat fugiat. Unde sed
        fuga officiis provident dicta. Quidem error maxime quas. Nihil numquam enim ratione cum itaque alias ipsam libero
        earum illo quo, fugit error consequatur nesciunt officiis totam beatae molestias quibusdam porro architecto. Sunt
        ducimus voluptatem inventore quibusdam, pariatur facilis laborum consequatur earum architecto, ex odit est corrupti
        amet enim recusandae quod minus, eos fuga iste reiciendis.</div>
      <div class="card-footer">
        <i class="fa fa-hashtag"></i> angular, front-end, web-app, programming
        <span>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!-- END article card -->
  </div>
</div>